.pagination {
    list-style-type: none;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.resumee {
    display: block;
    cursor: pointer;
}

.resumee_detail {
    display: none;
    cursor: pointer;
}
