{% extends 'base.html.twig' %}

{% block title %}New Journal{% endblock %}

{% block body %}
    <h1>Create new Journal</h1>

    {{ include('journal/_form.html.twig') }}

    <a href="{{ path('app_journal_index') }}">back to list</a>
{% endblock %}
