{% extends 'base.html.twig' %}

{% block title %}Edit Bookj{% endblock %}

{% block body %}
    <h1>Edit Bookj</h1>

    {{ include('bookj/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bookj_index') }}">back to list</a>

    {{ include('bookj/_delete_form.html.twig') }}
{% endblock %}
