{% extends 'base.html.twig' %}

{% block title %}Page introuvable erreur 404{% endblock %}
{% block body %}
<div>
    <h2>Page introuvable erreur 404</h2>
    La page souhaité est introuvable !<br />
    Retour à l'accueil <a href="/">ici</a>
</div>

{% endblock %}