{% extends 'base.html.twig' %}

{% block title %}Erreur Serveur 500{% endblock %}
{% block body %}
<div>
    <h2>Erreur Serveur 500</h2>
    La page a rencontré une erreur<br />
    Retour à l'accueil <a href="/">ici</a>
</div>

{% endblock %}